body{ background-color: #FFFFFF; border-top:0; font-family:Arial, Helvetica, sans-serif; font-size:13px;}
.main_container{ width:100%; background-color:#FFFFFF; padding:5px; min-height:1400px;}
.main_container_form{ width:630px; border:0px none #000099; min-height:1250px; padding:2px;}
.followup_main_container_form{ width:690px; border:0px none #000099; min-height:1400px; padding:2px; background-color:#FFFFFF}
.profile_main_container_form{ width:800px; border:0px none #000099; min-height:1400px; padding:2px; background-color:#FFFFFF}
select{ font-size:10px;}
input{ font-size:10px; background-color:#FFFFCC;}
.font_small {font-size: 9px; }
.font_bold { font-weight:bold; font-size:11px; }
#form{ }
.section{border:1px solid #000000; padding:2px 1px 1px 3px; min-height:50px; background-color: #99BBE8;}
.spacer{min-height:3px;}
.section_row{ float:left; padding:1px 0 4px 0; font-size:10px; }
/*************** CSS For HIV Care Enrollment Form *******************************/
/********************* Section One *******************************/
.enrollment_section_1{ min-height:115px;}
	.enrollment_section_1_left{ width:50%; float:left; min-height:40px; }
	.enrollment_section_1_right{  width:50%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.enrollment_section_2{ min-height: 310px;}
	.enrollment_section_2_left{ width:60%; float:left; min-height:40px; }
	.enrollment_section_2_right{ width:40%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.enrollment_section_3{ min-height:150px;}
	.enrollment_section_3_left{ width:50%; float:left; min-height:40px; }
	.enrollment_section_3_right{ width:50%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.enrollment_section_4{ min-height:160px;}
	.enrollment_section_4_left{ width:60%; float:left; min-height:40px; }
	.enrollment_section_4_right{ width:40%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.enrollment_section_5{ min-height:160px;}
	.enrollment_section_5_left{ width:100%; float:left; min-height:40px; }
	.enrollment_section_5_right{ width:0%; float:right; min-height:40px; }

/********************* Section Six *******************************/
.enrollment_section_6{ min-height:230px; background-color:#FFFFFF;}
	.enrollment_section_6_left{ width:60%; float:left; min-height:40px; }
	.enrollment_section_6_right{ width:40%; float:right; min-height:40px;}
	.enrollment_section_6_row{ float:left; width:80%; border:1px solid black; padding:2px 1px 1px 3px; min-height:200px; background-color:#99BBE8;}
	.enrollment_section_6_boarded{ border-bottom: 2px solid #000000; min-height:100px;}
	.enrollment_section_6_position{border:0px solid #000000; background-color:#99BBE8; min-height:50px; width:90%;}
	.enrollment_section_6_spacer{ min-height:90px;}
	.enrollment_section_6_spacer2{ min-height:10px;}

/********************* Section Seven *******************************/
.enrollment_section_7{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.enrollment_section_7_left{ width:50%; float:left; min-height:40px; }
	.enrollment_section_7_right{ width:50%; float:right; min-height:40px;}

/*******************************************************************/
/************************** CSS For ARV Follow-up Form **********************************/
/********************************** Section One ****************************************/
.followup_section_1{ min-height:80px;}
		.followup_section_1_left{ width:50%; float:left; min-height:40px; }
		.followup_section_1_right{  width:50%; float:right; min-height:40px;}

/********************************** Section Two ****************************************/
.followup_section_2{ min-height:85px;}
		.followup_section_2_left{ width:55%; float:left; min-height:40px; }
		.followup_section_2_right{  width:45%; float:right; min-height:40px;}

/********************************** Section Three ****************************************/
.followup_section_3{ min-height:215px;}
		.followup_section_3_left{ width:65%; float:left; min-height:40px; }
		.followup_section_3_right{  width:35%; float:right; min-height:40px;}
		.followup_section_3_section{ min-height:205px; width:100%; border-top:2px solid #000000; border-left:2px solid #000000; line-height:24px; }

/********************************** Section Four ****************************************/
.followup_section_4{ min-height:185px;}
		.followup_section_4_left{ width:100%; float:left; min-height:40px; }
		.followup_section_4_right{  width:0%; float:right; min-height:40px;}

/********************************** Section Five ****************************************/
.followup_section_5{ min-height:123px;}
		.followup_section_5_left{ width:100%; float:left; min-height:40px; }
		.followup_section_5_right{  width:0%; float:right; min-height:40px;}

/********************************** Section Six ****************************************/
.followup_section_6{ min-height:510px;}
		.followup_section_6_left{ width:50%; float:left; min-height:40px; }
		.followup_section_6_right{  width:50%; float:right; min-height:40px;}

/********************************** Section Seven ****************************************/
.followup_section_7{ min-height: 450px;}
		.followup_section_7_left{ width:51%; float:left; min-height:40px;}
		.followup_section_7_right{width:48%; float:right; min-height:170px; border-left:2px solid #000000;}
		.followup_section_7_leftB{ width:65%; float:left; min-height:100px;}
		.followup_section_7_rightB{width:35%; float:right; min-height:100px;}
		.followup_section_7_top{width:100%; float:none; min-height:55px;}
		.followup_section_7_bottom{width:100%; float:none; min-height:40px;}
		.followup_section_7_1{border:0px none #000000; padding:2px 1px 1px 3px; min-height:125px;}
		.followup_section_7_2{border-top:2px solid #000000; padding:2px 1px 1px 3px; min-height:170px;}
		.followup_section_7_3{border-top:2px solid #000000; padding:2px 1px 1px 3px; min-height:100px;}
		.followup_section_7_4{border-top:2px solid #000000; min-height:95px; width:100%; }

/********************************** Section Eight ***************************************/
.followup_section_8{ min-height:40px; background-color:#FFFFFF; border:none;}
		.followup_section_8_left{ width:50%; float:left; min-height:40px; }
		.followup_section_8_right{ width:50%; float:right; min-height:40px; }


/************************************** End *****************************************/
/*************** CSS For Initial Evaluation Form *******************************/
/********************* Section One *******************************/
.initial_section_1{ min-height:115px;}
	.initial_section_1_left{ width:51%; float:left; min-height:40px; }
	.initial_section_1_right{  width:49%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.initial_section_2{ min-height:160px;}
	.initial_section_2_left{ width:100%; float:left; min-height:40px; }
	.initial_section_2_right{  width:0%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.initial_section_3{ min-height:400px;}
	.initial_section_3_left{ width:53%; float:left; min-height:40px; border: 1px; }
	.initial_section_3_right{  width:46%; float:right; min-height:100%; border-left:2px solid #000000; padding-left:2px;}
	.initial_section_3_1{border:0px none #000000; padding:0 1px 1px 1px; min-height:195px;}
	.initial_section_3_2{border-top:2px solid #000000; padding:0 1px 1px 1px; min-height:235px;}

/********************* Section Four *******************************/
.initial_section_4{ min-height:380px;}
	.initial_section_4_left{ width:50%; float:left; min-height:40px; }
	.initial_section_4_right{  width:50%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.initial_section_5{ min-height:40px; background-color:#FFFFFF; border:0px;}
	.initial_section_5_left{ width:50%; float:left; min-height:40px; }
	.initial_section_5_right{  width:50%; float:right; min-height:40px;}

/********************* Section Six *******************************/
.initial_section_6{ min-height:475px;}
	.initial_section_6_left{ width:33%; float:left; min-height:385px; border-right:2px solid #000000; }
	.initial_section_6_centre{ width:32%; float: none; min-height:385px; }
	.initial_section_6_right{  width:32%; float:right; min-height:385px; border-left:2px solid #000000; width:33%;}
	.initial_section_6_1{border:0px none #000000; padding:0 1px 1px 1px; min-height:105px;}
	.initial_section_6_2{border-top:2px solid #000000; padding:0 1px 1px 1px; min-height:385px;}
	.initial_section_6_3{border:0px none #000000; padding:0 1px 1px 1px; min-height:192.5px;}
	.initial_section_6_4{border-top:2px solid #000000; padding:0 1px 1px 1px; min-height:192.5px;}
	.initial_section_6_5{border:0px none #000000; padding:0 1px 1px 1px; min-height:128.3px;}
	.initial_section_6_6{border-top:2px solid #000000; padding:0 1px 1px 1px; min-height:128.3px;}
	.initial_section_6_7{border-top:2px solid #000000; padding:0 1px 1px 1px; min-height:128.3px;}

/********************* Section Seven *******************************/
.initial_section_7{ min-height:250px;}
	.initial_section_7_left{ width:55%; float:left; min-height:40px; }
	.initial_section_7_right{  width:43%; float:right; min-height:40px;border-left:2px solid #000000;}
	.initial_section_7_top{width:100%; float:none; min-height:140px;}
	.initial_section_7_1{border-bottom:2px solid #000000; padding:2px 1px 1px 3px; min-height:200px;}
	.initial_section_7_2{border:0 none #000000; padding:2px 1px 1px 3px; min-height:130px; line-height:10px;}

/********************* Section Eight *******************************/
.initial_section_8{ min-height:210px;}
	.initial_section_8_left{ width:70%; float:left; min-height:40px; }
	.initial_section_8_right{  width:30%; float:right; min-height:40px;}

/********************* Section Nine *******************************/
.initial_section_9{ min-height:40px; background-color:#FFFFFF; border:0px;}
	.initial_section_9_left{ width:50%; float:left; min-height:40px; }
	.initial_section_9_right{  width:50%; float:right; min-height:40px;}

/****************************** End ********************************/
/*************** CSS For Family Information Form *******************************/
/********************* Section One *******************************/
.family_section_1{ min-height:80px;}
	.family_section_1_left{ width:50%; float:left; min-height:100%; }
	.family_section_1_right{  width:50%; float:right; min-height:100%;}

/********************* Section Two *******************************/
.family_section_2{ min-height:160px;}
	.family_section_2_left{ width:70%; float:left; min-height:40px; }
	.family_section_2_right{  width:30%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.family_section_3{ min-height:160px;}
	.family_section_3_left{ width:70%; float:left; min-height:40px; }
	.family_section_3_right{  width:30%; float:right; min-height:40px;}

/********************* Section Four *******************************/
.family_section_4{ min-height:160px;}
	.family_section_4_left{ width:70%; float:left; min-height:40px; }
	.family_section_4_right{  width:30%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.family_section_5{ min-height:160px;}
	.family_section_5_left{ width:70%; float:left; min-height:40px; }
	.family_section_5_right{  width:30%; float:right; min-height:40px;}

/********************* Section Six *******************************/
.family_section_6{ min-height:160px;}
	.family_section_6_left{ width:70%; float:left; min-height:100%; }
	.family_section_6_right{  width:30%; float:right; min-height:100%;}

/********************* Section Seven *******************************/
.family_section_7{ min-height:115px; border:0 none #FFFFFF; background-color:#FFFFFF;}
	.family_section_7_left{ width:70%; float:left; min-height:40px; }
	.family_section_7_right{  width:30%; float:right; min-height:40px;}

/*************************** End ***********************************/
/*************** CSS For HIV Care Patient Profile Form *******************************/
/********************* Section One *******************************/
.profile_section_1{ min-height:120px;}
	.profile_section_1_left{ width:34%; float:left; min-height:40px; }
	.profile_section_1_right{  width:66%; float:right; min-height:40px; text-align:left;}

/********************* Section Two *******************************/
.profile_section_2{ min-height:130px;}
	.profile_section_2_left{ width:46%; float:left; min-height:40px; }
	.profile_section_2_right{ width:54%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.profile_section_3{ min-height:400px;}
	.profile_section_3_left{ width:52%; float:left; min-height:40px; }
	.profile_section_3_right{ width:48%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.profile_section_4{ min-height:115px;}
	.profile_section_4_left{ width:100%; float:left; min-height:40px; }
	.profile_section_4_right{ width:0%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.profile_section_5{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.profile_section_5_left{ width:50%; float:left; min-height:40px; }
	.profile_section_5_right{ width:50%; float:right; min-height:40px;}

/************************** End *****************************************/
/*************** CSS For Contact & Care Tracking Form *******************************/
/********************* Section One *******************************/
.tracking_section_1{ min-height:170px;}
	.tracking_section_1_left{ width:65%; float:left; min-height:40px; }
	.tracking_section_1_right{  width:35%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.tracking_section_2{ min-height:370px;}
	.tracking_section_2_left{ width:100%; float:left; min-height:40px; }
	.tracking_section_2_right{ width:0%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.tracking_section_3{ min-height:85px;}
	.tracking_section_3_left{ width:100%; float:left; min-height:40px; }
	.tracking_section_3_right{ width:0%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.tracking_section_4{ min-height:450px;}
	.tracking_section_4_left{ width:100%; float:left; min-height:40px; }
	.tracking_section_4_right{ width:0%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.tracking_section_5{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.tracking_section_5_left{ width:50%; float:left; min-height:40px; }
	.tracking_section_5_right{ width:50%; float:right; min-height:40px;}

/****************************** End *************************************/
/******************* CSS For Laboratory Order/ Results Form *******************************/
/********************* Section One *******************************/
.lab_section_1{ min-height:80px;}
	.lab_section_1_left{ width:45%; float:left; min-height:40px; }
	.lab_section_1_right{  width:55%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.lab_section_2{ min-height:540px;}
	.lab_section_2_left{ width:50%; float:left; min-height:40px; }
	.lab_section_2_right{ width:50%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.lab_section_3{ min-height:290px;}
	.lab_section_3_left{ width:50%; float:left; min-height:40px; }
	.lab_section_3_right{ width:50%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.lab_section_4{ min-height:450px;}
	.lab_section_4_left{ width:100%; float:left; min-height:40px; }
	.lab_section_4_right{ width:0%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.lab_section_5{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.lab_section_5_left{ width:50%; float:left; min-height:40px; }
	.lab_section_5_right{ width:50%; float:right; min-height:40px;}

/********************************* End ********************************************/
/*************** CSS For Adult Pharmacy Order Form *******************************/
/********************* Section One *******************************/
.adult_section_1{ min-height:70px;}
	.adult_section_1_left{ width:50%; float:left; min-height:40px; }
	.adult_section_1_right{  width:50%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.adult_section_2{ min-height:50px;}
	.adult_section_2_left{ width:77%; float:left; min-height:40px;}
	.adult_section_2_right{ width:22.5%; float:right; min-height:50px;}

/********************* Section Three *******************************/
.adult_section_3{ min-height:785px;}
	.adult_section_3_left{ width:100%; float:left; min-height:40px; }
	.adult_section_3_right{ width:0%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.adult_section_4{ min-height:200px;}
	.adult_section_4_left{ width:100%; float:left; min-height:40px; }
	.adult_section_4_right{ width:0%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.adult_section_5{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.adult_section_5_left{ width:50%; float:left; min-height:40px; }
	.adult_section_5_right{ width:50%; float:right; min-height:40px;}

/********************************* End **********************************/
/*************** CSS For Pediatric Pharmacy Order Form *******************************/
/************************** Section One *******************************/
.pediatric_section_1{ min-height:80px;}
	.pediatric_section_1_left{ width:50%; float:left; min-height:40px; }
	.pediatric_section_1_right{  width:50%; float:right; min-height:40px;}

/********************* Section Two *******************************/
.pediatric_section_2{ min-height:50px;}
	.pediatric_section_2_left{ width:77%; float:left; min-height:40px; }
	.pediatric_section_2_right{ width:22.5%; float:right; min-height:40px;}

/********************* Section Three *******************************/
.pediatric_section_3{ min-height:850px;}
	.pediatric_section_3_left{ width:100%; float:left; min-height:40px; }
	.pediatric_section_3_right{ width:0%; float:right; min-height:40px;}
/********************* Section Four *******************************/
.pediatric_section_4{ min-height:160px;}
	.pediatric_section_4_left{ width:100%; float:left; min-height:40px; }
	.pediatric_section_4_right{ width:0%; float:right; min-height:40px;}

/********************* Section Five *******************************/
.pediatric_section_5{ min-height:50px; background-color:#FFFFFF; border:0px;}
	.pediatric_section_5_left{ width:50%; float:left; min-height:40px; }
	.pediatric_section_5_right{ width:50%; float:right; min-height:40px;}

/*******************************************************************/