		 <blockquote>
			<TABLE cellSpacing=0  width=600 class="submenu_frame" cellpadding="0">
			<TBODY>
			<TR>
				<TD>
					<TABLE cellSpacing=1 cellPadding=3 width=600>
					<TBODY class="submenu">

					{{$LDQViewTxt}}

					{{include file="common/submenu_row_spacer.tpl"}}

					{{$LDDutyPlanTxt}}

					{{include file="common/submenu_row_spacer.tpl"}}

					{{$LDDocsForumTxt}}

					{{include file="common/submenu_row_spacer.tpl"}}

					{{$LDNewsTxt}}

					{{include file="common/submenu_row_spacer.tpl"}}

					{{$LDProductCategoryTxt}}

                    {{$LDELTTxt}}

                    {{$LDEAddStore}}

					</TBODY>
					</TABLE>
				</TD>
			</TR>
			</TBODY>
			</TABLE>

			<p>
			<a href="{{$breakfile}}"><img {{$gifClose2}} alt="{{$LDCloseAlt}}" {{$dhtml}}></a>
			<p>
			</blockquote>
