<h1><a id="Fixed Assets">Fixed Assets</a></h1>

<h2>Features Overview</h2>

<p>The Fixed Assets module allows for recording a database of the individual assets with integration back to the webERP general ledger.</p>

<ul>
    <li>Assets are assigned a unique id number</li>

    <li>Any number of fixed asset categories can be defined eg. Plant, Equipment, Buildings etc.</li>

    <li>Assets can be depreciated using either striaght line or diminishing value depreciation methods</li>

    <li>Each asset can have it's own depreciation rate</li>

    <li>Any number of fixed asset locations can be defined. Assets can only belong to one location. Assets can be listed by category and location so they can be readily identified in a fixed asset audit.</li>

    <li>Depreciation calculation and posting run checks if previously run and defaults the run date to avoid duplicated depreciation runs.</li>

    <li>A transaction log of depreciation, additions and disposals is maintained</li>

    <li>Full fixed asset schedule of any date period range is possible</li>

    <li>Fixed asset general ledger posting is performed based on the gl accounts in any number user defined fixed asset categories</li>
</ul>

<h2>Creating a New Fixed Asset</h2>

<p>The sequence of events in creating a new fixed asset is as follows:</p>

<ul>
    <li>Any number of fixed asset categories are defined - from Fixed Asset Module -&gt; Fixed Asset Categories. These are the groupings of like assets e.g. Plant, IT equipment, Buildings, Land etc.</li>

    <li>Fixed asset locations must be defined. These can be in a heirarchical manner e.g. "Head Office" may have a sub-location of "Server Room".</li>

    <li>A fixed asset is created from the Fixed Assets module -&gt; Add Fixed Asset. This process allows the description and a long description to be recorded, together with the asset's serial number or barcode, the category of fixed asset it belongs to and it's location in the business. The depreciation method and rate is also specified. At this point there is no cost (nor accumulated depreciation)associated with the asset</li>

    <li>A purchase order is placed for the asset as a non-stock item. There is provision to enter the asset id of the asset into the purchase order. When the asset is received - the cost is posted to the general ledger account specified by the asset's category. It is also possible to add cost to existing assets in this way. Each cost added is recorded in the fixed asset transaction log so additions over a period can be identified easily.</li>

    <li>Instead of entering a purchase order with the asset specified directly it is possible to enter a purchase invoice directly allocating the charges to any number of fixed assets. The supplier invoice form allows entry against fixed assets directly. All assets created - but with no cost will show in a select box - any of these can be selected or if the asset id is known it can be entered manually. In this way it is possible to add to existing assets. Depreciation will calculate on the new total cost of the asset (or book value if DV depreciation is being used).</li>

    <li>If the asset is from capitalised stock, then it is possible to do a stock adjustment referencing an asset id - the cost of the stock from the current (standard or weighted average) cost is posted to the cost account of the fixed asset category of the asset selected. Stock general ledger accounts are also updated as usual. The asset addition is logged in much the same way as a purchase ordered fixed asset.</li>
</ul>

<h2>Selecting A Fixed Asset</h2>

<p>From the main menu -&gt; Fixed Assets Module tab -&gt; Select Asset. There are options to select the asset category and the asset location and just look at assets for the given category and location. Alternatively the asset id can be entered or any part of the description.</p>

<p>Once and item is selected - the details of the asset shows including the cost and accumulated depreciation with all entered transactions reflected. The cost and accumulated depreciation cannot be entered or altered manually. The asset cost will always come from the accounts payable module and depreciation will always come from the automatic calculation of depreciation. However, all other details of the asset can be modified when an asset is selected. The description, serial number, barcode, category, location, depreciation type and rate etc can all be modified at will.</p>

<h2>Fixed Asset Depreciation Run</h2>

<p>The depreciation run must be run monthly to create the general ledger journals for depreciation at the rates and depreciation methods defined for the assets. In addition to the general ledger journals a log of the depreciation transactions is also created. The depreciation run checks the last month it was run and defaults to run for the following month ... in this way every time it is run it is self evident whether it has been run for the month under review. There is no functionality to reverse a depreciation run.</p>

<h2>Fixed Asset Disposals</h2>

<p>To dispose of a fixed - an invoice is raised for a fixed asset in the usual order entry screen. Instead of selecting a stock item, there is a button that allows a fixed asset to be selected. By selecting a fixed asset to be sold, the system creates a stock item for the fixed asset. When the sales order is confirmed for invoicing and if the debtors ledger is integrated into the general ledger then entries to dispose of the asset to the general ledger accounts defined in the fixed asset category of the asset are created. The fixed asset transaction is created for the disposal and the fixed asset updated to show the date it was disposed and the proceeds on the disposal.</p>

<h2>Fixed Asset Schedule</h2>

<p>The fixed asset schedule requires the entry of a starting date and an end date. The script can produce a pdf report, comma separated values for importing into a spreadsheet, or just view in html on screen. It shows the cost b/fwd at the start date, the total of any additions subsequent to the start date, the depreciation brought forward and the depreciation charged over the period, together with the carried forward cost, accumulated depreciation and net book value.</p><!-- Help End: Fixed Assets -->
