<img src='$TP_root_path/gui/img/common/default/angle_left_s.gif'><br>
<FONT color='#cc0000'>$LDOptsForPatient <a href="javascript:gethelp('admission_options.php')"><img src='$TP_root_path/gui/img/common/default/frage.gif' border=0 align="absmiddle"></a>
<TABLE cellSpacing=0 cellPadding=0 class="submenu_frame" border=0>
	<TBODY>
	<TR>
	<TD>
            <TABLE cellSpacing=1 cellPadding=2 border=0>
              <TBODY>
               <TR class="submenu"> <td align=center>$TP_iconPost</td>
                <TD vAlign=top >
				  $TP_SICKCONFIRM
				   </TD>
                </TR>
				  <TR class="submenu"><td align=center>$TP_iconFolder</td>
                <TD vAlign=top > <nobr>
				  $TP_CHARTSFOLDER			
				  </nobr> </TD>
                </TR>

 		<TR class="submenu"><td align=center>$TP_iconBubble</td>
                <TD vAlign=top > 
                    $TP_DIAGXRESULTS
				   </TD>
                </TR>

		<TR class="submenu"><td align=center>$TP_iconEye</td>
                <TD vAlign=top > <nobr>
				$TP_DRG
				  </nobr> </TD>
                </TR>
              <TR class="submenu"><td align=center>$TP_iconOGuy</td>
                <TD vAlign=top > <nobr>
				$TP_PRESCRIPTIONS
				  </nobr> </TD>
               </TR>
               <TR class="submenu"><td align=center>$TP_iconOGuy</td>
                <TD vAlign=top > 
				$TP_LABTESTS
				  </TD>
               </TR>
               <TR class="submenu"><td align=center>$TP_iconBubble</td>
                <TD vAlign=top > <nobr>
				$TP_LABRESULTS
				  <nobr></TD>
               </TR>

 				<TR class="submenu"><td align=center>$TP_iconHeads</td>
                <TD vAlign=top > <nobr>
				$TP_NOTESREPORTS
				  </nobr> </TD>
                </TR>

			   <TR class="submenu"><td align=center>$TP_iconHeads</td>
				   <TD vAlign=top > <nobr>
					   $TP_NOTESREPORTS2
				   </nobr> </TD>
			   </TR>
				  <TR class="submenu"><td align=center>$TP_iconWGuy</td>
                <TD vAlign=top width=150> 
				$TP_IMMUNIZATION
				   </TD>
                </TR> 
				  <TR class="submenu"><td align=center>$TP_iconWGuy</td>
                <TD vAlign=top width=150> 
				$TP_MSRMNTS
				   </TD>
                </TR>
				  <TR class="submenu"><td align=center>$TP_iconWTorso</td>
                <TD vAlign=top width=150>
				$TP_preg_BLK</TD>
                </TR>				  
				  <TR class="submenu"><td align=center>$TP_iconIDCard</td>
                <TD vAlign=top width=150>
				$TP_BIRTHDX
				   </TD>
                </TR>					
				  <TR class="submenu"><td align=center>$TP_iconGTeen</td>
                <TD vAlign=top width=150> 
				$TP_PATREGSHOW
				   </TD>
                </TR>					
				  <TR class="submenu"><td align=center>$TP_iconCrossTeen</td>
                <TD vAlign=top width=150>
				$TP_PATREGUPDATE
				   </TD>
                </TR>					
				  <TR class="submenu"><td align=center>$TP_iconIDCard</td>
                <TD vAlign=top width=150>
				$TP_HISTORY
				   </TD>
                </TR>									
				  <TR class="submenu"><td align=center>$TP_iconPDF</td>
                <TD vAlign=top width=150> 
				$TP_PRINT_PDFDOC
				   </TD>
                </TR>									
              <TR class="submenu"><td align=center>$TP_iconXPaper</td>
                <TD vAlign=top ><nobr>
				 $TP_xenc_BLK
				  </nobr> </TD>
                </TR>
				</TBODY>
		</TABLE>
	</TD>
	</TR>
</TBODY>
</TABLE>
