


table.tbl {
    right: 8px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 300px;
}

.tdbolder{
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
}

.tbtopborder{
    border-top-style: dotted;
    border-top-width: 1px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
}

tr.prow {
    background-color: #0066cc;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    text-indent: 3px;
    text-align: center;
    font-size: 12px;
}

tr.prow {
    background-color: #0066cc;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    text-indent: 3px;
    text-align: center;
    font-size: 12px;
}
tr.tr2 {
    background-color: #6699ff;
}
tr.tr1 {
    background-color: #dfedf6;
}
table.tbl1{
    background-color: #dfedf6;
}
.pgtitle {
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    color: #000033;
    font-size: 20px;
    background-color: #99ccff;
    text-align: center;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-color: #66ffff;
    border-left-color: #66ffff;
    border-bottom-color: #66ffff;
    border-top-color: #66ffff;
}
.pgtitle2 {
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    color: #000099;
    font-size: 12px;
    background-color: #9ecdfb;
    text-align: center;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-color: #66ffff;
    border-left-color: #66ffff;
    border-bottom-color: #66ffff;
    border-top-color: #66ffff;
}
.style1 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 70%;
    position: fixed;
    top: 40px;
    left: 20%;
}

.style2 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 18%;
    position: fixed;
    top: 40px;
    left: 20px;
}

.style3 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 70%;
    position: fixed;
    top: 40px;
    left:20%;
    height: 500px;

}

.style4 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 70%;
    top: 80px;
    left: 27%;


}
.style5 {
background-color: #dfedf6;
overflow: auto;
height: 550px;
width: 1000px
}
