<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<pre>list={{list}}</pre>
			<pre> {{ msg }}</pre>
			<form ng-submit="submit()">
				<table class="table table-responsive table-striped table-condensed">
					<thead>
						<tr>
							<td></td>
							<td><label class="form-label">Item ID</label></td>
							<td><label class="form-label">Item Description</label></td>
							<td><label class="form-label">Quantity Purchased</label></td>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>
							<button><i class="glyphicon glyphicon-remove"></i></button>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input size="10" ng-model="partcode" name="item_code" type="text" class="form-control input-sm">
								</div>
							</div>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input size="60" type="text" placeholder="Search" ng-model="query" ng-focus="focus=true">
									  <div class="search-result" >
								    	<table class="table-striped table">
								    		
								    </table>
								</div>
								</div>
							</div>
						</td>
						<input type="hidden" name="purchasing_class" ng-model="purchasing_class">
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input required ng-model="quantity" name="quantity" type="text" class="form-control input-sm">
								</div>
							</div>
						</td>
					</tr>
					<tr ng-repeat="item in data | filter:query">
						<td></td>
			    		<td>{{ item.partcode }}</td>
			    		<td ng-click="setQuery(item)">{{ item.item_description }}</td>
					</tr>
					</tbody>
				</table>
				<div class="form-group form-group-sm">
					<input class="btn btn-primary btn-sm" type="button" name="add_items" value="Add Item" ng-click="AddItems()">
					<input class="btn btn-success btn-sm" type="submit" name="submit" value="Submit" />
					<input class="btn btn-info btn-sm" type="reset" name="reset" value="Reset" />
				</div>
			</form>

		</div>
	</div>
</body>
</html>