<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<table id="items" class="table table-condensed table-striped table-responsive">
			<thead>
				<tr>
					<th>Item Number</th>
					<th>Item Description</th>
					<th>Purchasing Class</th>
					<th>Dep Quantity</th>
					<th>Store Quantiry</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td><input class="form-control input-sm" type="text" ng-model="searchText" name=""></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr ng-click="ItemDetails(x)" ng-repeat="x in items.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText">
          			<td>{{ x.partcode }}</td>
          			<td>{{ x.item_description }}</td>
          			<td>{{ x.purchasing_class }}</td>
          			<td>{{ x.qty_dep }}</td>
          			<td>{{ x.qty_store }}</td>
          			<td>{{ x.status }}</td>
          			<td></td>
				</tr>
			</tbody>
		</table>
		View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
    <option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>
		</div>
		<div ng-if="ItemDetailsIf" class="col-xs-4">
			<h4>{{ itemidDetail }} - {{iteddeDetails}} Details</h4>
			<form ng-submit="Submit()">
				<table class="table-condensed table-responsive table table-striped">
				<tr>
					<th>Quantity in Department</th>
					<td>
						{{qtydep}}
					</td>
				</tr>
				<tr>
					<th>Quantity in Store</th>
					<td>
						{{qtystore}}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input class="btn btn-info" type="submit" name="submit" value="Submit">
					</td>
				</tr>
			</table>
		</form>
		</div>

		
	</div>
</div>
