<div class="container">
  <div class="row">
    <div>
      <button class="btn btn-primary" ng-click="AddItem()"><i class="glyphicon glyphicon-add"></i>Add Stock</button>
    </div>
    <table class="table table-responsive table-striped table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Partcode</th>
          <th>Description</th>
          <th>Drug Class</th>
          <th>Quantity in Store</th>
          <th>Buying Price</th>
          <th>Reorder Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in names.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
          <td>{{ x.id }}</td>
          <td>{{ x.partcode }}</td>
          <td>{{ x.item_description }}</td>
          <td>{{ x.drug_class }}</td>
          <td>{{ x.qty }}</td>
          <td>{{ x.buying_price }}</td>
          <td>{{ x.reorder_level }}</td>
          <td>
            <button class="" ng-click="EditItem()"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="" ng-click="DeleteItem()"><i class="glyphicon glyphicon-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
    <option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>
  </div>
</div>