<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<!-- {{ msg }} -->
			<table class="table table-striped table-condensed table-responsive">
				<thead>
					<tr>
						<th>ID</th>
						<th>Request Date</th>
						<th>Store Location</th>
						<th>Input user</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in requisitions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
						<td ng-click="Issue(x.req_no)">{{ x.req_no }}</td>
	          			<td ng-click="Issue(x.req_no)">{{ x.req_date }}</td>
	          			<td ng-click="Issue(x.req_no)">{{ x.Store_desc }}</td>
	          			<td>{{ x.input_user }}</td>
	          			<td>
	          				<button (click)="Deactivate({{x.req_no}})" class="btn-warning">De-activate</a></button>
	          			</td>
					</tr>
				</tbody>
			</table>
			View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
			    <option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.
			    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" items-per-page="itemsPerPage"></pagination>
			    <pre>Page: {{currentPage}} / {{numPages}}</pre>
		</div>

		<div ng-if="ItemDetailsIf" class="row">
			<form ng-submit="submit()">
			<table class="table table-striped table-responsive table-condensed">
				<thead>
					<tr>
						<th>Item ID</th>
						<th>Item Description</th>
						<th>Quantity Requested</th>
						<th>Quantity Issued</th>
						<th>Balance</th>
						<th>Qty to Issue</th>
						<th>Quantity In Store</th>
						<th>Item Price</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in redetails">
						<input type="hidden" ng-model="x.item_id" value="" name="">
						<input type="hidden" ng-model="x.req_no" name="">
						<td ng-model="item_id">{{ x.item_id }}</td>
						<td>{{ x.item_desc }}</td>
						<td>{{ x.qty }}</td>
						<td>{{ x.qty_issued }}</td>
						<td ng-model="balance">{{ x.balance }}</td>
						<td><input required size="5" type="text" name="qty_to_issue" ng-model="x.qty_to_issue"></td>
						<td>{{ x.qty_in_store }}</td>
						<td>{{ x.price }}</td>
					</tr>
				</tbody>
			</table>
			<div style="text-align:right;">
				<input class="btn-success" ng-click="Save()" type="submit" name="submit" value="Submit">
			</div>
			</form>
		</div>
		
	</div>
	<br/><br />
</body>
</html>