<div class="container">
	<div class="row">
		<p>{{msg}}</p>
		<form>
			<fieldset id="">
				<button><i class="glyphicon glyphicon-plus"></i></button>
				<table class="table table-responsive table-striped table-condensed">
					<thead>
						<tr>
							<td></td>
							<td><label class="form-label">Item ID</label></td>
							<td><label class="form-label">Item Description</label></td>
							<td><label class="form-label">Item Buying Price</label></td>
							<td><label class="form-label">Item Selling Price</label></td>
							<td><label class="form-label">Quantity Purchased</label></td>
						</tr>
					</thead>
					<tr>
						<td>
							<button><i class="glyphicon glyphicon-remove"></i></button>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input size="3" ng-model="myname" name="item_code" type="text" class="form-control input-sm" value="WHata it this???">
								</div>
							</div>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input type="text" placeholder="Search" ng-model="query" ng-focus="focus=true">
									  <div id="search-results" ng-show="focus">
									    <div class="search-result" ng-repeat="item in data | search:query" ng-bind="item" ng-click="setQuery(item)">
									    	
									    </div>
									  </div>
								</div>
							</div>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input name="buying_price" type="text" class="form-control input-sm">
								</div>
							</div>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input name="selling_price" type="text" class="form-control input-sm">
								</div>
							</div>
						</td>
						<td>
							<div class="form-group form-group-sm">
								<div class="col-xs-8 input-group">
									<input name="quantity" type="text" class="form-control input-sm">
								</div>
							</div>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
		
	</div>
</div>