/*!
 * Ext JS Library 3.1.1
 * Copyright(c) 2006-2010 Ext JS, LLC
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
html, body {
    font:normal 12px verdana;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}

.x-panel-body p {
    margin:5px;
}
    
.settings {
    background-image:url( ../include/Extjs/shared/icons/fam/folder_wrench.png ) !important;
}
.nav {
    background-image:url( ../include/Extjs/shared/icons/fam/folder_go.png ) !important;
}