
table.tbl {
    right: 8px;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 300px;
}

tr.prow {
    background-color: #0066cc;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    text-indent: 3px;
    text-align: center;
    font-size: 12px;
}

tr.prow2 {
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: bold;
    text-indent: 3px;
    text-align: left;
    font-size: 12px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-right-style: dashed;
    border-left-style: dashed;
    border-bottom-style: dashed;
    border-top-style: dashed;
}
tr.tr2 {
    background-color: #6699ff;
    font-style: normal;
    font-weight: bold;
}

.shiftContent{
    font-size: 14px;
}

.cellContent{
    width: 70px;
    font-style:inherit;
    text-align: right;
    font-size: small;
}

.titleContent{
    width: 70px;
    text-align: center;
    font-size: x-small;
}



tr.tr1 {
    background-color: #dfedf6;
    width:120px;
    text-indent: 4px;
}
table.tbl1{
    background-color: #dfedf6;
}
.pgtitle {
    font-family: 'Times New Roman',Times,serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    background-color: #6699ff;
    text-align: center;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-color: #66ffff;
    border-left-color: #66ffff;
    border-bottom-color: #66ffff;
    border-top-color: #66ffff;
}
.style1 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 50%;
    position: fixed;
    top: 40px;
    left: 20%;
}

.style2 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 18%;
    position: fixed;
    top: 40px;
    left: 20px;
}

.style3 {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-color: #000066;
    border-left-color: #000066;
    border-bottom-color: #000066;
    border-top-color: #000066;
    background-color: #dfedf6;
    width: 70%;
    position: fixed;
    top: 40px;
    left: 27%;


}
.style5 {
background-color: #dfedf6;
overflow: auto;
height: 450px;
}
/* 
    Document   : reports
    Created on : Dec 15, 2009, 10:03:40 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

