/* 
    Document   : prollcss
    Created on : Jul 11, 2010, 3:23:19 PM
    Author     : george
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

report
{
    background:url(img/pie.jpg) 0 no-repeat !important;
}
dataset
{
    background:url(img/grid.jpg) 0 no-repeat !important;
}
datasource
{
    background:url(img/database.jpg) 0 no-repeat !important;
}